<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
you probably want to do this on a computer so that you can copy all messages from molbot in one go, its a bit of a pain otherwise, but possible
<br/>

The data from molbot is not really consistent, so it is likely some people will have issues. The issues will manifest themselves
as nothing will happen when you hit the add button, it it works the box will empty and the last charecter on the list will be printed below the buttons
(to help finding the next message if you do this on a cell..)
if you encounter any issues, or have questions, reach out to dan... and, good luck!

<ul>
  <li>Update you roster in <a href="https://discordapp.com/channels/512558453932294166/630882353631330317" target="_blank"> molbot</a> </li>
  <li>generate the roster data from your molbot channel with !charlist -c 131 -m level</li>
  <li>copy all messages (or one, or a few) into the text area below and click the add button</li>
  <li>when you have added all the messages, hit the download button and you can save the cvs file locally</li>
  <li>logon to <a href="https://msf.gg" target="_blank">msf.gg</a> and under your profile and roster, import the csv file you saved</li>
  <li>Now the data from molbot is added, but it was most likely incomplete so you need to manually add the missing levels etc..</li>
  <li>good luck and have fun :-)</li>
</ul>

<br/>
paste here
<br/>
<textarea #txt rows="7" style="width: 100%"></textarea>
<button #c (click)="clear(txt)">Clear</button>
<button #d (click)="downloadFile(txt)">Download file</button>
<button #a (click)="parse(txt)">Add</button>
<br/>
{{last}}

